<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Demo Plataformero - Selección Garrahan</title>
  <script src="https://cdn.jsdelivr.net/npm/phaser@3.80.1/dist/phaser.min.js"></script>
  <script src="../js/mario.js"></script>

  <link rel="stylesheet" href="../css/mario.css">
</head>

<body>
  <a href="../index.html" id="homeButton">
  🏠 Menú Principal
  </a>
  <div id="game-container"></div>


</body>

</html>
